:root {
    --lime: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(0, 0%, 20%);
    --dark-gray: hsl(0, 0%, 12%);
    --black: hsl(0, 0%, 8%);
}

body {
    font-family: 'Inter';
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}